@font-face {
  font-family: 'Charcuterie Engraved';
  src: url('https://d3jpwrui3eswtl.cloudfront.net/adobecaslonpro/ACaslonPro-Regular-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Adobe Caslon Pro Regular';
  src: url('../../fonts/AdobeCaslonProRegular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
