.divider {
  height: 50px;
  background-image: url(../../images/root_LargeDivider_eV0qaqE.png);
  background-size: auto 50px;
  background-position: center center;
  background-repeat: repeat-x;
  background-color: transparent;
}
